/* Theme toggle component styles - usando PrimeNG + Tailwind */

:host {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 50;
}

/* Personalización del ícono dentro del botón de PrimeNG */
:host ::ng-deep .p-button .p-button-icon.pi-sun {
  color: theme('colors.yellow.500');
}

:host ::ng-deep .p-button .p-button-icon.pi-moon {
  color: theme('colors.slate.600');
}

.dark :host ::ng-deep .p-button .p-button-icon.pi-moon {
  color: theme('colors.slate.300');
}
