@if (label()) {
<label class="block text-sm font-medium mb-2">{{ label() }}</label>
}
<p-iconField class="w-full">
  @if (loading()) {
  <p-inputIcon class="pi pi-spin pi-spinner" />
  }
  <p-autocomplete
    [(ngModel)]="selectedValueModel"
    (ngModelChange)="onModelChange($event)"
    [virtualScroll]="true"
    [suggestions]="filteredUsers()"
    [virtualScrollItemSize]="34"
    (completeMethod)="filterUsers($event)"
    optionLabel="nombre"
    [dropdown]="true"
    [placeholder]="placeholder()"
    (onSelect)="onUserSelect($event)"
    [showClear]="true"
    [multiple]="multiple()"
    [class]="styleClass()"
    class="flex-1 w-full h-10 px-2"
    [inputStyle]="{ paddingLeft: multiple() && loading() ? '20px' : '' }"
    class="flex-1"
  >
  </p-autocomplete>
</p-iconField>
